<article class="view-container">
    <section class="view-background-decorator">
        <div class="view-oval view-oval-1"></div>

        <div class="view-oval view-oval-2"></div>

        <div class="view-oval view-oval-3"></div>
    </section>

    <section class="view-card-back">
        <card-back></card-back>
    </section>

    <section class="view-card-front">
        <card-front></card-front>
    </section>

    <section class="view-info-container">
        <router-outlet></router-outlet>
    </section>
</article>