.card-form-container {
    display: flex;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    height: 100%;
    justify-content: center;
    width: 100%;

    form {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 330px;

        .form-group {
            margin-bottom: 20px;
            position: relative;
            width: 100%;

            label {
                display: block;
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 5px;
                text-transform: uppercase;
            }

            input {
                border: 1px solid #ccc;
                padding: 10px;
                border-radius: 5px;
                font-size: 14px;
                font-weight: 500;
                transition: border-color 0.3s ease;
                width: 100%;

                &:focus {
                    border-color: #610595;
                    outline: none;
                }


                &.ng-invalid.submit {
                    border-color: red;
                    border-image: none;
                }

                &::placeholder {
                    color: rgba(33, 9, 47, 0.25);
                }
            }

            .error {
                bottom: -18px;
                color: red;
                font-size: 12px;
                position: absolute;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .expiration-cvc {
            display: flex;
            justify-content: space-between;

            .exp-group,
            .cvc-group {
                width: 48%;
            }

            .exp-inputs {
                display: flex;
                gap: 6px;
                justify-content: space-between;

                input {
                    width: 48%;
                }
            }

            .cvc-group {
                display: flex;
                flex-direction: column;

                input {
                    width: 100%;
                }
            }
        }

        button {
            background-color: #21092F;
            border: none;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            font-size: 16px;
            height: 45px;
            margin-top: 20px;
            padding: 10px 20px;
            transition: background-color 0.3s ease;
            width: 100%;
        }
    }
}